// popover cannot use scoped styles

$bg_color: #222;

.track-to-playlist-popover {
  display: block !important;
  width: 300px;
  margin: {
    top: 100px;
    bottom: 100px;
  }
  border-radius: 5px;
  z-index: 1100;
  background: $bg_color;
  box-shadow: 0 0 30px 5px rgba(black, .1);

  &__wrapper {
    padding: 24px;
  }

  &__inner {
    background: $bg_color;
    color: black;
    padding: 0;
  }

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    right: -5px;
    top: calc(50% - 5px);
    margin: 5px 0;
    border: {
      width: 5px 0 5px 5px;
      style: solid;
      top-color: transparent;
      right-color: transparent;
      bottom-color: transparent;
      left-color: $bg_color;
    }
    z-index: 990;
  }

  &__header {
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 14px;
    color: white;
    display: block;
    padding: 12px 0 18px 0;
  }

  &__delimiter {
    height: 1px;
    background: #424242;
    border: none;
  }

  &[x-placement^="left"] {
    margin-right: 5px;
  }

  &[x-placement^="top"] {
    margin-top: 5px;
    margin-bottom: 20px;

    & .track-to-playlist-popover__arrow {
      top: calc(100% - 8px);
      transform: rotate(90deg);
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s;
  }
}

@mixin position-breakpoint($breakpoint) {
  @media screen and (max-width: #{$breakpoint}px) {
    .track-to-playlist-popover_breakpoint-#{$breakpoint} {
      width: 280px;
      margin: {
        top: 0;
        bottom: 100px;
      }

      .track-to-playlist-popover__wrapper {
        padding:16px;
      }

      .track-to-playlist-popover__arrow {
        position: absolute;
        width: 0;
        height: 0;
        top: -5px;
        margin: 0;
        border: {
          width: 0 5px 5px 5px;
          style: solid;
          top-color: transparent;
          right-color: transparent;
          bottom-color: $bg_color;
          left-color: transparent;
        }
        z-index: 900;
      }

      .track-to-playlist-popover__add-playlist-header {
        padding-left: 8px;
      }
    }
  }
}

@include position-breakpoint(767);
@include position-breakpoint(1024);
