@import '../../sass/variables';

.base-input {
  font-family: "Gotham Pro", serif;
  display: block;
  position: relative;
  height: 50px;

  &__label {
    font-size: 14px;
    color: $color_3;
    position: absolute;
    user-select: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    top: 16px;
    left: 17px;

    &_top {
      transform: translate(-9px, -10px) scale(.75);
    }
  }

  &__input {
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    padding: 22px 32px 10px 16px;
    cursor: pointer;
    border: 1px solid $borderColor;
    border-radius: $border-radius;
    background: $color_2;

    &:focus {
      outline: none;
    }

    &_error {
      border-color: #d0021b;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 100%;
    top: 50%;
    z-index: 900;
    transform: translate(-180%, -50%);
  }

  &__error-message {
    color: #d0021b;
    font-size: 10px;
  }
}
