.tooltip {
  $bg-color: #222;

  display: block !important;
  z-index: 10000;
  background: $bg-color;
  box-shadow: 0 0 30px 5px rgba(black, .1);;

  &.popover {
    .popover-inner {
      background: $bg-color;
      color: black;
      padding: 12px;
      border-radius: 5px;
    }

    &[x-placement^="left"] {
      margin-right: 5px;

      .popover-arrow {
        position: absolute;
        width: 0;
        height: 0;
        right: -5px;
        top: calc(50% - 5px);
        margin: 5px 0 5px 0;
        border: {
          width: 5px 0 5px 5px;
          style: solid;
          top-color: transparent !important;
          right-color: transparent !important;
          bottom-color: transparent !important;
          left-color: $bg-color;
        }
        z-index: 1;
      }
    }
  }
}

.add-to-playlist {
  &__header {
    font-family: "GothamPro_bold", serif;
    font-size: 14px;
    color: white;
    display: block;
    padding: 12px 0 18px 0;
  }

  &__delimiter {
    height: 1px;
    background: #424242;
    border: none;
  }

  &__list {
    font-size: 14px;
    margin: 6px 0 18px 28px;
    padding-left: 0;
    list-style: none;
    color: #6e6e6e;
  }

  &__list-item {
    position: relative;
    padding: {
      left: 4px;
      top: 12px;
      bottom: 12px;
    };
    border-radius: 5px;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: white;
      background: #333;
    }
  }

  &__tick {
    position: absolute;
    color: white;
    left: -22px;
  }
}
