// popover cannot use scoped styles

$bg-color: #222;

.track-actions-popover {
  display: block !important;
  width: 340px;
  margin: {
    top: 100px;
    bottom: 100px;
  }
  border-radius: 5px;
  z-index: 900;
  background: $bg-color;
  box-shadow: 0 0 30px 5px rgba(black, .1);

  &__wrapper {
    padding: 24px;
  }

  &__inner {
    background: $bg-color;
    color: black;
    border-radius: 5px;
  }

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    right: -5px;
    top: calc(50% - 5px);
    margin: 5px 0;
    border: {
      width: 5px 0 5px 5px;
      style: solid;
      top-color: transparent;
      right-color: transparent;
      bottom-color: transparent;
      left-color: $bg-color;
    }
    z-index: 900;
  }

  &__header {
    font-family: "GothamPro_bold", serif;
    font-size: 14px;
    color: white;
    position: relative;
    padding: {
      top: 8px;
      bottom: 6px;
    }
  }

  &__album-cover {
    float: left;
    width: 48px;
    height: 48px;
    margin: {
      right: 12px;
      bottom: 12px;
    }
    border-radius: 4px;
    user-select: none;
  }

  &__album-song {
    margin-bottom: 8px;
    display: block;
  }

  &__album-author {
    font-family: "Gotham Pro", serif;
    display: block;
  }

  &__delimiter {
    clear: both;
    width: 100%;
    height: 1px;
    border: none;
    background: #424242;
  }

  &__menu {
    font-size: 14px;
    color: #6e6e6e;
  }

  &__menu-item {
    font-size: 13px;
    display: flex;
    padding: 12px 0 12px 0;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  &__menu-item-icon {
    box-sizing: border-box;
    display: inline-block;
    height: 17px;
    min-width: 30px;
    width: 30px;
    padding-left: 2px;
  }

  &__tell-problem {
    font-size: 12px;
    color: #6e6e6e;
    display: block;
    padding: 18px 0 0 0;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  &__add-playlist-header,
  &__go-back-button {
    font-size: 14px;
    color: white;
    display: block;
    user-select: none;
  }

  &__go-back-button {
    padding-top: 18px;
    text-align: center;
    cursor: pointer;
  }

  &__add-playlist-header {
    font-family: "GothamPro_bold", serif;
    text-align: left;
    padding-top: 12px;
  }

  &[x-placement^="left"] {
    margin-right: 5px;
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s;
  }

  &.open {
    transition: transform .2s !important;
  }
}

@media screen and (max-width: 410px) {
  .track-actions-popover {
    width: 280px;
    margin: {
      top: 0;
      bottom: 100px;
    }

    &__wrapper {
      padding:16px;
    }

    &__arrow {
      position: absolute;
      width: 0;
      height: 0;
      top: -5px;
      margin: 0;
      border: {
        width: 0 5px 5px 5px;
        style: solid;
        top-color: transparent;
        right-color: transparent;
        bottom-color: $bg-color;
        left-color: transparent;
      }
      z-index: 900;
    }

    &__add-playlist-header {
      padding-left: 8px;
    }
  }
}
