<?php
$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in('app');


return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short']
    ])
;
