@import '~scss/_variables.scss';

// due to legacy global styles
p {
  padding: 0;
  margin: 0;
}

.user-card {
  position: relative;

  &_loading {
    height: calc(100vh - #{$header_height_desktop} - #{$footer_height_desktop});
  }

  &__loader {
    display: block;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
  }

  &__item {
    display: flex;
    width: 100%;
  }

  &__profile-avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 24px;
  }

  &__profile-name {
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 24px;
    word-break: break-word;
    color: $text_color_primary;
    margin-bottom: 4px;
  }

  &__profile-info {
    margin: {
      top: 4px;
      right: 20px;
    }
  }

  &__followers-count {
    font-size: 12px;
    color: $text_color_secondary;
    margin-bottom: 12px;
  }

  &__location {
    font-size: 16px;
    line-height: 24px;
    color: $text_color_primary;
    margin-bottom: 12px;

    &:before {
      content: '';
      width: 9px;
      height: 12px;
      background-size: contain;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40OTUgMEMyLjAxIDAgMCAyLjAyMiAwIDQuNTIyIDAgNS44MjIuNjQ2IDcgMS4yODMgOC4wODhhMTguOTU0IDE4Ljk1NCAwIDAgMCAyLjc4OCAzLjczLjU5NS41OTUgMCAwIDAgLjg1OCAwIDE3LjQyNSAxNy40MjUgMCAwIDAgMi40OTUtMy4xNUM4LjE4MiA3LjQzNyA5IDYuMDE0IDkgNC41MjEgOC45OSAyLjAzMiA2Ljk4IDAgNC40OTUgMHptMCA3LjE0M0EyLjczNyAyLjczNyAwIDAgMSAxLjc2OCA0LjRhMi43MzcgMi43MzcgMCAwIDEgMi43MjctMi43NDRBMi43MyAyLjczIDAgMCAxIDcuMjIyIDQuNGEyLjczIDIuNzMgMCAwIDEtMi43MjcgMi43NDN6IiBmaWxsPSIjRTRFNEU0IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L3N2Zz4=);
      display: inline-block;
      margin-right: 4px;
    }

    &_small {
      font-size: 12px;
      line-height: 18px;

      &:before {
        width: 6px;
        height: 8px;
      }
    }
  }

  &__played-genres-container {
    display: flex;
    margin-bottom: 16px;
  }

  &__played-genres-icon {
    padding-right: 6px;
  }

  &__played-genres {
    font-size: 16px;
    color: $text_color_primary;
    display: block;
  }

  &__bonus-program-status {
    display: flex !important;
    align-items: center;
  }

  &__bonus-program-button {
    margin-left: auto;
  }

  &__bonus-program-image {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  &__bonus-program-h {
    display: inline;
  }

  &__bonus-program-p {
    color: $text_color_primary;
    font-size: 12px;
    display: block;
    padding-bottom: 4px;

    &:nth-child(2) {
      margin-bottom: 12px;
    }
  }

  &__bonus-program {
    display: flex;
    width: 100%;
  }

  &__bonus-program-followers,
  &__bonus-program-days,
  &__bonus-program-favourites {
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    padding: 12px;

    & > *:first-child {
      margin-bottom: 12px;
    }
  }

  &__bonus-program-days {
    border: {
      right: 1px solid $layout_border_color;
      left: 1px solid $layout_border_color;
    }
  }

  &__bonus-program-genres {
    margin-top: 24px;
  }

  &__bonus-program-genres-header {
    font-family: 'Gotham Pro Semibold', sans-serif;
    margin-bottom: 12px;
  }

  &__bonus-program-genres-item {
    display: flex;
    margin: 12px 0;
  }

  &__bonus-program-genres-img {
    font-size: 12px;
    width: 32px;
    height: 32px;
    margin-right: 24px;
    border-radius: 4px;
  }

  &__bonus-program-genres-title {
    font-family: 'Gotham Pro Semibold', sans-serif;
  }

  &__bonus-program-genres-tracks {
    font-size: 12px;
    color: $text_color_secondary;
  }

  &__edit-button {
    margin-left: auto;

    svg {
      fill: #e4e4e4;
      transition: .2s;
    }
    &:hover svg {
      fill: $text_color_primary;
    }
  }

  &__create-group-link {
    font-size: 20px;
    color: #313131;
  }

  &__create-group-arrow {
    display: inline-block;
    transform: translate(-4px) rotate(180deg);
    opacity: 0;
    transition: .3s;

    .user-card__create-group-link:hover &,
    .user-card__create-group-link.hover & {
      opacity: 1;
      transform: translate(8px) rotate(180deg);
    }
  }

  &__item-header {
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 24px;
    color: $text_color_primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;
  }

  &__button {
    font-family: 'Gotham Pro', sans-serif;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: $text_color_secondary;
    padding: 8px;
    font-size: 10px;
  }

  &__groups,
  &__followed,
  &__followed-groups,
  &__followed-users {
    flex-direction: column;
  }

  &__group,
  &__user {
    display: flex;
    margin-bottom: 16px;
  }

  &__group-cover,
  &__user-avatar {
    word-break: break-word;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 24px;
  }

  &__someone-info {
    align-self: center;
  }

  &__group-info,
  &__user-info {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  &__group-name,
  &__username {
    font-size: 14px;
    font-family: 'Gotham Pro Semibold', sans-serif;
    word-break: break-word;
    display: block;
    width: 100%;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__group-name-link,
  &__username-link {
    color: $text_color_primary;
  }

  &__group-followers {
    font-size: 12px;
    color: $text_color_secondary;
  }

  &__subsection-header {
    font-size: 14px;
    color: #b4b4b4;
    display: block;
    margin-bottom: 8px;
  }

  &__about {
    display: block;

    &__text {
      display: block;
      font-size: 14px;
      color: $text_color_secondary;
    }
  }
}

@media screen and (max-width: 1024px) {
  .user-card_loading {
    height: 128px;
  }
}
