@font-face{
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  src :
          url('../fonts/GothamPro.eot'),
          url('../fonts/GothamPro.ttf'),
          url('../fonts/GothamPro.woff');
  font-display: swap;
}

@font-face{
  font-family: GothamPro_bold;
  font-style: normal;
  font-weight: bold;
  src :
          url('../fonts/GothamPro-Bold.eot'),
          url('../fonts/GothamPro-Bold.ttf'),
          url('../fonts/GothamPro-Bold.woff');
  font-display: swap;
}

@font-face{
  font-family: GothamPro_medium;
  font-style: normal;
  font-weight: normal;
  src :
          url('../fonts/GothamPro-Medium.eot'),
          url('../fonts/GothamPro-Medium.ttf'),
          url('../fonts/GothamPro-Medium.woff');
  font-display: swap;
}

@font-face{
  font-family: GothamPro_black;
  font-style: normal;
  font-weight: 900;
  src :
          url('../fonts/GothamPro-Black.eot'),
          url('../fonts/GothamPro-Black.ttf'),
          url('../fonts/GothamPro-Black.woff');
  font-display: swap;
}
