$text : #313131;
$borderColor : #e4e4e4;
$color_1 : #000000;
$color_2 : #ffffff;
$color_3 : #a6a6a6;
$color_4 : #606060;
$color_5 : #f0f0f0;
$border-radius: 4px;
$color_pink : #DD61B9;
$color_blue : #4297FE;
$color_purple: #8181e2;
$color_red: red;
$gradient : radial-gradient( at top left, $color_blue 0%, $color_pink 100%);
$linear-gradient : linear-gradient( to right, $color_blue 0%, $color_pink 100%);

$font_main: 'Gotham Pro', serif;
$font_medium: 'GothamPro_medium', serif;
$font_bold: 'GothamPro_bold', serif;

$desktop : 1025px;
$mobile_end : 1024px;