//@import "normalize";
@import 'variables';
@import 'mixins';
//@import 'fonts';
@import 'main-layout';
@import 'components';
@import 'styles';
@import 'nice-select';
@import 'profile';

// TODO: migrate
@import '../sass_refactor/main';

body{
  font-family: $font_main;
  background-color: $color_2;
  color: $text;
}

a{
  text-decoration: none;
  color: $color_pink;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
