$layout_border_color: #e4e4e4;

$gradient_color_start: #4297FE;
$gradient_color_end: #DD61B9;
$gradient_radial: radial-gradient(
  at top left,
  $gradient_color_start 0%,
  $gradient_color_end 100%
);
