.track-to-playlist {
  &__loader {
    font-size: 14px;
    color: white;
    display: block;
    padding: 12px 0;
  }

  &__list {
    font-size: 14px;
    margin: 6px 0 18px 28px;
    padding-left: 0;
    list-style: none;
    color: #6e6e6e;
  }

  &__list-item {
    position: relative;
    padding: 12px 8px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: white;
      background: #333;
    }
  }

  &__tick {
    position: absolute;
    color: white;
    left: -22px;
  }

  &__input::v-deep span {
    left: 8px;
  }

  &__input::v-deep input {
    padding-left: 8px;
  }
}
