@import '~scss/_variables.scss';

$collection-height-desktop: 300px;
$collection-height-mobile: 250px;

$collection-cover-desktop: 160px;
$collection-cover-mobile: 120px;

$collection-left-padding-desktop: 24px;
$collection-left-padding-mobile: 16px;

.collection-scroll-horizontal {
  height: $collection-height-desktop;
  overflow-y: hidden;

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 32px;
  }

  &__button-prev,
  &__button-next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid #e4e4e4;
    border-radius: $input_border_radius 0 0 $input_border_radius;

    &_disabled {
      svg {
        opacity: .5;
      }
    }
  }

  &__button-prev {
    margin-left: auto;
  }

  &__button-next {
    margin-left: -1px;
    transform: rotate(180deg);
  }

  &__loader {
    display: flex;
    align-items: center;
    width: 224px;
    height: $collection-cover-desktop;
  }

  &__collection-preview {
    box-sizing: content-box;
    padding-left: $collection-left-padding-desktop;
  }

  &::v-deep .vue-recycle-scroller__item-wrapper {
    height: $collection-height-desktop;
  }
}

@media screen and (max-width: 767px) {
  .collection-scroll-horizontal {
    height: $collection-height-mobile;

    &__collection-preview {
      padding-left: $collection-left-padding-mobile;
    }

    &::v-deep .vue-recycle-scroller__item-wrapper {
      height: $collection-height-mobile;
    }

    &__header {
      margin-bottom: 12px;

      & > *:first-child {
        width: 100%;
      }
    }

    &__button-prev,
    &__button-next {
      margin-bottom: 8px;
      order: -1;
    }

    &__loader {
      height: $collection-cover-mobile;
    }
  }
}
