@import '~scss/_variables.scss';

.favourite-track-list {
  &__loader {
    display: block;
    margin: 24px auto;
  }

  &__return-button {
    margin-bottom: 32px;
  }

  &__singer {
    display: block;
    color: #b4b4b4;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__track-section {
    display: flex;
    margin-bottom: 16px;
  }

  &__track-cover {
    width: 160px;
    height: 160px;
    border-radius: 4px;
    margin-right: 28px;
  }

  &__player-section {
    flex-grow: 1;
  }

  &__list-title {
    margin-bottom: 16px;
  }

  &__list-data {
    font-size: 14px;
    color: $text_color_secondary;
    display: block;
    margin-bottom: 28px;
  }

  &__player {
    flex-grow: 1;
    margin-top: 30px;
    overflow: hidden;
  }

  &__button-section {
    display: flex;
    margin-bottom: 16px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:first-child) {
      margin-left: 16px;
    }

    &_more {
      margin-left: 16px;
    }

    &_listen {
      font-size: 14px;
      width: 160px;
      color: $text_color_primary;
      padding: {
        left: 32px;
        right: 32px;
      }
      border-radius: $input_border_radius;
      border: 1px solid $layout_border_color;
      transition: background .2s;

      &:hover {
        background: $layout_border_color;
      }

      & > *:first-child {
        display: block;
        margin-right: 12px;
      }
    }
  }
}

