@import '../../../../sass/variables';

$coverSide: 235px;
$coverRightMargin: 30px;
$descriptionMaxWidth: 991px;
$descriptionRightPadding: 37px;

.create-group {
  display: flex;
  flex-wrap: nowrap;

  &_loading {
    height: 100vh; // TODO: minus header and footer
  }

  &-header {
    margin: {
      right: 0;
      bottom: 42px;
    }
  }

  &-container {
    max-width: 991px;
  }

  &-cover {
    min-width: $coverSide;
    width: $coverSide;
    min-height: $coverSide;
    height: $coverSide;
    margin: {
      right: $coverRightMargin;
      bottom: 24px;
    }
  }

  &-description {
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: $descriptionMaxWidth;
    padding: {
      right: $descriptionRightPadding;
      bottom: 28px;
    }

    &__name-input,
    &__year-input,
    &__genre-list {
      max-width: 330px;
    }

    &__name-input {
      display: block;
      margin-bottom: 42px;
    }

    &__year-input {
      display: block;
      margin-bottom: 36px;
    }

    &__genre-tag-container {
      margin-bottom: 32px;
    }

    &__genre-list-suggestion {
      display: block;
      margin: {
        top: 18px;
        bottom: 18px;
      }
    }

    &::v-deep &__dropdown {
      max-width: 330px;
    }

    &__group-description-suggestion {
      display: block;
      margin: {
        top: 18px;
        bottom: 18px;
      }
    }

    &__group-members-suggestion {
      display: block;
      margin-bottom: 32px;
    }

    &__activity-textarea {
      display: block;
      margin-bottom: 32px;
    }

    &__regular-text {
      font-size: 14px;
    }

    &__header_h2 {
      margin: {
        top: 0;
        bottom: 22px;
      }
    }

    // TODO: global header styles

    &__header_h3 {
      font-size: 20px;
      margin: {
        top: 0;
        bottom: 18px;
      }
    }

    & &__group-members-header {
      margin: {
        top: 40px;
        bottom: 4px;
      }
    }
  }

  &-footer {
    box-sizing: border-box;
    position: relative;
    max-width: $coverSide
      + $coverRightMargin
      + $descriptionMaxWidth
      + $descriptionRightPadding;
    padding-right: 0;
    margin-bottom: 62px;

    &__delimiter {
      box-sizing: border-box;
      width: 100%;
      border: {
        width: 1px 0 0 0;
        style: solid;
        color: $borderColor;
      }
      margin-bottom: 22px;
    }

    &__save-button {
      display: block;
      max-width: 180px + $descriptionRightPadding;
      margin-left: auto;
    }

    &__loader {
      position: absolute;
      bottom: -6px;
      right: 180px + $descriptionRightPadding;
      transform: scale(.5);
    }
  }
}

@media screen and (max-width: 1440px) {
  .create-group {
    flex-wrap: wrap;
  }

  .create-group-footer {
    max-width: $descriptionMaxWidth;
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .create-group-container_loading {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .create-group {
    &-header {
      margin-right: 0;
    }

    &-cover {
      margin: {
        left: auto;
        right: auto;
      }
    }

    &-description {
      padding-right: 0;

      &__name-input,
      &__year-input,
      &__genre-list,
      &::v-deep &__dropdown {
        max-width: 100%;
      }
    }

    &-footer {
      padding-right: 0;

      &__delimiter {
        display: none;
      }

      &__save-button {
        max-width: 100%;
      }

      &__loader {
        right: 8px;
      }
    }
  }
}
