@import '@/assets/scss/_variables.scss';

.social-links {
  &__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 16px;
  }

  &__network-select,
  &__username-input {
    flex-grow: 1;
    width: 0;
  }

  &__network-select {
    margin-right: 18px;
  }

  &__add-button {
    display: block;
    margin-left: auto;
    max-width: 180px;
  }

  &__close-button-row {
    display: none;
  }


  &__close-button-desktop::v-deep {
    box-sizing: border-box;
    position: absolute;
    width: auto;
    height: 21px;
    right: -43px;
    top: 50%;
    padding: 5px;
    margin: {
      top: auto;
      bottom: auto;
    };
    transform: translateY(-50%);

    svg {
      fill: #ccc;
      transition: all .2s;
    }

    &:hover {
      svg {
        fill: #313131;
      }
    }
  }

  &__close-button-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .social-links {
    &__row {
      flex-wrap: wrap;
    }

    &__network-select {
      margin-right: 9px;
    }

    &__close-button-row {
      display: block;
      width: 100%;
    }

    &__close-button-desktop {
      display: none;
    }

    &__close-button-mobile {
      color: $red-violet;
      display: initial;
      padding: {
        top: 12px;
        bottom: 8px;
        left: 16px;
      }
    }
  }
}
