@import '@/assets/scss/_variables.scss';

$border_radius: 4px;

.up-page__top{
  padding: 15px;
  border-radius: $border_radius;
  text-align: center;
  border: 1px dashed $layout_border_color;

  &.dragging {
    z-index: 9999;
    width: 100%;
    position: absolute;
    background-color: #fff;
    max-width: 910px;
    box-sizing: border-box;

    & .radio-pair {
      display: none;
    }

    & .up-page__button {
      display: none;
    }

    & .up-page__info {
      display: none;
    }
  }
}
.up-page{

  &__top-wrapper{
      max-width: 550px;
      margin: 0 auto;
  }
  &__info{
    font-size: 14px;
    border-radius: $border_radius;
    background-color: #f0f0f0;
    padding: 10px;
    line-height: 22px;
  }
  &__button{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  & .radio-pair{
    display: flex;
    flex-direction: column;
    padding: 25px 0;
  }
}

@media (min-width: 1025px) {
  .radio-pair{
    flex-direction: row;
    justify-content: space-around;
    margin: 32px 0;
  }
  .up-page{
    &__title{
      font-size: 32px;
    }
    &__top{
      padding: 40px 32px;
    }
    &__button{
      margin-top: 32px;
    }
    &__info{
      padding: 16px 50px;
    }
  }
}
