@import '~scss/_variables.scss';

.track-to-playlist {
  &__loader {
    display: block;
    margin: 12px auto;
    transform: scale(.5);
  }

  &__list {
    font-size: 12px;
    overflow-y: scroll;
    max-height: 300px;
    margin: 6px 0 18px 28px;
    padding-left: 0;
    list-style: none;
    color: #6e6e6e;
  }

  &__list-item {
    word-break: break-word;
    position: relative;
    padding: 12px 8px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  &__tick {
    position: absolute;
    color: white;
    left: -22px;
  }

  &__input::v-deep .base-input__label {
    left: 8px;
  }

  &__input::v-deep .base-input__input {
    padding-left: 8px;
  }

  &__save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: {
      top-right-radius: $input_border_radius;
      bottom-right-radius: $input_border_radius;
    }
    background: $gradient_radial;
    user-select: none;
    cursor: pointer;

    &:before {
      content: 'L';
      font-family: 'Gotham Pro Bold', sans-serif;
      font-size: 22px;
      color: white;
      transform: rotate(-135deg) scale(1, -1);
    }

    &_is-saving:before {
      content: '';
    }
  }

  &__save-button-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
  }
}
