.my-music__albums-container {
  max-width: 100%;
  width: 100%;
  padding-bottom: 32px;
}

.my-music__albums-title {
  margin: 0;
}

.my-music__albums-title,
.my-music__collections-title {
  color: black;
}
