@import '../../../sass/_variables.scss'

.main
  padding-top: 90px

button
  background: none
  border: none
  box-shadow: none
  padding: 0
  cursor: pointer
  transition: $trns
p
  margin: 0
h3
  font-size: 24px
  line-height: 32px
  margin: 0
  font-family: $font_bold
h4
  font-size: 20px
  font-family: $font_bold
  margin: 0

@media screen and (min-width: 1025px)
  .main__profile
    box-sizing: border-box
    width: 68.2%

@media screen and (max-width: 576px)
  .main__profile
    padding:
      left: 16px
      right: 16px

.profile__nav
  width: 100%
  border-bottom: 1px solid $borderColor
  padding: 0
  margin: 20px 0 50px
  list-style: none
  display: flex

.profile__nav-endpoint
  width: 208px
  cursor: pointer
  margin-bottom: -4px
  border-bottom: 4px solid transparent
  font-size: 20px
  text-align: center
  padding: 20px 0
  transition: $trns

  &_active
    border-bottom: 4px solid #b36fcb
    font-family: $font_black

  &::v-deep a
    color: #313131

@media screen and (max-width: 767px)
  .profile__nav
    margin: 10px 0 25px

  .profile__nav-endpoint::v-deep a
    font-size: 18px



