@import '~scss/_variables.scss';
@import './UploadPage_legacy.scss';

.aside__content{
  padding: 0; 
}
.main__info{
  padding: 0 32px;
  flex: 1;

  & .add-track__page-header {
    font-size: 12px;
    color: $medium_gray;
    margin-bottom: 15px;
    letter-spacing: .6px;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
  }
}
.up-page{
  margin: 20px 0 0;
  max-width: 910px;
  padding: 0;
  padding-bottom: 75px;

  &__title{
    font-family: 'Gotham Pro Bold', sans-serif;
    font-size: 20px;
    margin: 0;
  }
  &__bottom{
    margin-top: 30px;
    border-top: 1px solid $layout_border_color;
  }
  &__agree{
    font-size: 14px;
    color: $text_color_secondary;
    line-height: 22px;
    margin-left: 20px;
    margin-right: 20px;

    & a {
      color: $red_violet;
    }
  }
}
.up-b-info{
  font-size: 14px;
  display: flex;
  flex-direction: column;

  &__link{
    color: $text_color_primary;
    display: block;
    margin-top: 10px;
    transition: .3s all ease;

    &:hover {
      color: $link_color_active;
    }
  }
}
.main.notDropped{
  flex-direction: column;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px;

  & .aside{
    width: 100%;
  }
  & .aside__content{
    padding: 0;
  }
  & .main__aside{
    border: none;
  }
  & .main__info{
    padding: 0;
  }
  & .up-page{
    padding: 0;
  }
}

@media (max-width: 770px) {
  .up-b-info {
    font-size: 12px;

    &__left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 20px;
    }
  }

  .up-page{
    &__bottom {
      margin-bottom: 70px;
    }
  }
}

@media (min-width: 1025px) {
    .up-page__agree {
      margin-left: 0;
    }
    .up-b-info {
        flex-direction: row;
        justify-content: space-between;

        &__left{
            display: flex;
        }
        &__link{
            margin-right: 32px;
        }
    }
}
