@import '~scss/_variables.scss';

$avatarSide: 235px;
$avatarRightMargin: 30px;
$formMaxWidth: 986px;
$formRightPadding: 40px;

.edit-profile {
  display: flex;
  flex-wrap: nowrap;

  &-container {
    position: relative;
    max-width: 991px;

    &_loading {
      height: calc(100vh - #{$header_height_desktop} - #{$footer_height_desktop});
    }

    &__return-header {
      margin-bottom: 24px;
    }

    &__page-header {
      margin-bottom: 24px;
    }
  }

  &-avatar {
    min-width: $avatarSide;
    width: $avatarSide;
    min-height: $avatarSide;
    height: $avatarSide;
    margin: {
      right: $avatarRightMargin;
      bottom: 24px;
    }
  }

  &-form {
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: $formMaxWidth;
    padding-right: $formRightPadding;

    &__name-input,
    &__location-input,
    &__career-start-year-input {
      max-width: 320px;
    }

    &__name-input {
      margin-bottom: 16px;
    }

    &__location-input {
      margin-bottom: 46px;
    }

    &__career-start-year-input {
      margin-bottom: 40px;
    }

    &__activity-textarea {
      margin-bottom: 42px;
    }

    &__input-group {
      display: flex;
      margin-bottom: 16px;
    }

    &__choose-genres {
      margin-bottom: 40px;

      &::v-deep .edit-profile-form__genre-dropdown {
        max-width: 320px;
      }
    }

    &__section,
    &__subsection {
      margin: {
        top: 0;
        bottom: 14px;
      }
    }
  }

  &-footer {
    box-sizing: border-box;
    position: relative;
    max-width: $avatarSide
      + $avatarRightMargin
      + $formMaxWidth
      + $formRightPadding;
    margin-bottom: 62px;

    &__delimiter {
      box-sizing: border-box;
      width: 100%;
      border: {
        width: 1px 0 0 0;
        style: solid;
        color: $layout_border_color;
      }
      margin-bottom: 22px;
    }

    &__save-button {
      box-sizing: border-box;
      display: block;
      max-width: 190px;
      height: 50px;
      margin-left: auto;
    }
  }

  &__auth-input-group {
    margin-left: $avatarSide + $avatarRightMargin;
  }

  &__external-auth {
    color: $red_violet;
    display: block;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1440px) {
  .edit-profile {
    flex-wrap: wrap;

    &__auth-input-group {
      margin-left: 0;
    }
  }

  .edit-profile-form {
    width: 100%;
  }

  .edit-profile-footer {
    max-width: $formMaxWidth;
  }
}

@media screen and (max-width: 1024px) {
  .edit-profile-container_loading {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .edit-profile {
    &-container {
      &__return-header {
        margin-bottom: 14px;
      }
    }

    &-avatar {
      margin: {
        left: auto;
        right: auto;
      }
    }

    &-form {
      padding-right: 0;

      &__name-input,
      &__location-input,
      &__career-start-year-input,
      &__choose-genres::v-deep .edit-profile-form__genre-dropdown {
        max-width: 100%;
      }
    }

    &-footer {
      &__delimiter {
        display: none;
      }

      &__save-button {
        max-width: 100%;
        margin: {
          right: auto;
          left: auto;
        }
      }
    }
  }
}
